# Временные файлы и кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуальные окружения
venv/
.venv/
env/
ENV/

# Локальные настройки и ключи API
settings.json
*.log
.env
/dist/
/main.spec
/build/
